table{
    width: 100%;
    border-collapse: collapse;
}

thead>tr>th{
    text-align: left;
    /* width: max-content; */
    padding: 20px;
    background-color: #04AA6D;
    color: white;
}

tbody>tr>td{
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

.odd{
    background-color: rgb(211, 224, 230);
}

table>thead>tr>th>ion-icon{
    font-size: 30px;
}