* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --side-padding: 5%;
  --white-color: #fff;
}

header {
  padding: 0% var(--side-padding);
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
}

header > nav > ion-icon {
  font-size: 24px;
}

.section-one {
  margin: 1%;
  background-image: url(../Images/house-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding: var(--side-padding);
}

.section-one > div > p {
  font-size: 55px;
  margin: 12% 5%;
}

.section-one > div {
  border: 1px solid;
  height: 300px;
  width: 450px;
  position: absolute;
  left: 5%;
  top: 40%;
  color: var(--white-color);
  background-color: #282b33da;
}

.section-two {
  padding: var(--side-padding);
}

.section-two > div > h2 {
  text-align: center;
  font-size: 50px;
  color: #d16833;
  margin-top: 5%;
}

.section-two > div > p {
  text-align: center;
  font-size: 15px;
}

.grid {
  display: flex;
  padding: 0% 5%;
  margin-top: 8%;
  background-color: #e4e4e4;
  height: 40vh;
}

.grid > div {
  border: 1px solid #d0d0d0;
  background-color: var(--white-color);
  margin: 1%;
  margin-top: -5% !important;
  height: 100%;
  width: 35vw;
  font-size: 12px;
  border-radius: 5px;
}

.grid > div > img {
  height: 60px;
  margin-top: 3%;
  margin-left: 36%;
  background-color: #fc5f17;
  padding: 8px;
  border-radius: 30px;
}

.grid > div > h3 {
  margin-top: 5%;
  text-align: center;
  margin-right: 15px;
  font-size: 30px;
}

.grid > div > p {
  margin-top: 5px;
  margin-right: 12px;
  text-align: center;
  font-size: 17px;
}

.section-three {
  background-color: #f1f1f1;
  padding-bottom: 8%;
  padding: var(--side-padding);
}

.grid-two {
  display: flex;
  padding: 5%;
}

.grid-two > div {
  border: 1px solid #d0d0d0;
  height: 100vh;
  width: 100vw;
  margin: 1%;
}

.grid-two > div > img {
  margin: 5% 12%;
  width: 250px;
  border-radius: 5px;
}

.mission {
  background-color: #fc5f17;
  color: var(--white-color);
}

.mission > h4 {
  text-align: center;
  font-size: 35px;
}

.mission > p {
  margin: 5%;
  font-size: 19px;
  text-align: justify;
}

.goals > h4 {
  margin-top: 10%;
  text-align: center;
  font-size: 35px;
}

.goals > p {
  margin: 5%;
  font-size: 19px;
  text-align: justify;
}

.values {
  background-color: #282b33;
  color: var(--white-color);
}

.values > h4 {
  text-align: center;
  font-size: 35px;
}

.values > p {
  margin: 5%;
  font-size: 19px;
  text-align: justify;
}

.section-three > h2 {
  text-align: center;
  font-size: 30px;
}

.section-four {
  background-color: #282b33;
  padding-bottom: 5%;
  padding: var(--side-padding);
}

.grid-three {
  display: flex;
}

.grid-three > div {
  background-color: var(--white-color);
  height: 80vh;
  text-align: center;
  margin-top: -5%;
}

.grid-three > div > div > h3 {
  margin-top: 3%;
  font-size: 25px;
}

.grid-three > div > div > p {
  width: 90%;
  /* margin-left: 5%; */
  margin-top: 3%;
  line-height: 25px;
}

.grid-three > div > img {
  height: 80vh;
  width: 27vw;
}

.winner {
  display: flex;
  align-items: flex-end;
}

.grid-three > div > div > button {
  margin-top: 5%;
  margin-bottom: 15%;
  height: 45px;
  width: 33%;
  border: 2px solid rgb(211, 161, 69);
  border-radius: 5px;
  background-color: var(--white-color);
  transition: 0.3s;
  cursor: pointer;
}

.grid-three > div > div > button:hover {
  background-color: rgb(211, 161, 69);
  color: var(--white-color);
}

.strategies {
  color: var(--white-color);
  margin-top: 10%;
}

.strategies > h2 {
  font-size: 40px;
  text-align: center;
}

.strategies > p {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  line-height: 30px;
  text-align: justify;
}

.strategies > button {
  margin-top: 3%;
  margin-left: 45%;
  width: 11%;
  height: 40px;
  border: 2px solid rgb(211, 161, 69);
  border-radius: 5px;
  background-color: var(--white-color);
  transition: 0.3s;
  cursor: pointer;
}

.strategies > button:hover {
  background-color: rgb(211, 161, 69);
  color: var(--white-color);
}

.building-company {
  background-color: #fc5f17;
  padding: var(--side-padding);
}

.building-company > div {
  display: flex;
  height: 100vh;
}

.first-grid > img {
  height: 200px;
  width: 200px;
  border-radius: 140px;
  margin-left: 60%;
}

.first-grid > h3 {
  background-color: var(--white-color);
  margin-top: 9%;
  margin-right: 10%;
  padding: 5%;
  padding-bottom: 0% !important;
  width: 500px;
}

.first-grid > p {
  background-color: var(--white-color);
  padding: 5%;
  padding-bottom: 12% !important;
  width: 500px;
}

.middle-grid > img {
  width: 280px;
  height: 450px;
  margin-left: 30px;
}

.middle-grid > p {
  text-align: justify;
}

.parent {
  height: 450px;
  background-color: var(--white-color);
  width: 400px;
  margin-left: 2%;
  position: relative;
}

.child-two > p {
  text-align: justify;
  width: 95%;
}

.child {
  height: fit-content;
  width: 600px;
  background-color: #282b33;
  color: var(--white-color);
  text-align: justify;
  padding: 5%;
  position: absolute;
  right: 1%;
  line-height: 25px;
}

.child > h3 {
  margin-top: 1%;
  margin-bottom: 2%;
}

.child-two {
  padding: 10%;
  margin-top: 70%;
}

.section-five {
  padding: var(--side-padding);
}

.grid-four {
  display: flex;
}

.invest > h4 {
  font-size: 30px;
}

.invest > p {
  margin-top: 3%;
  font-size: 15px;
}

/* .invest {
  padding: 1%;
} */

.grid-four > div > img {
  width: 600px;
  height: 75%;
  margin-top: 3%;
}

.grid-five {
  display: flex;
  padding: 0% 3%;
  margin-right: 5%;
}

.grid-five > div {
  background-color: #fc5f17;
  color: var(--white-color);
  margin: 4%;
  margin-left: 10% !important;
  text-align: center;
  height: 20vh;
  width: 500px;
}

.grid-five > div > h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 10%;
  font-weight: 900;
}

.section-six {
  padding: var(--side-padding);
}

.grid-six {
  display: flex;
  height: 75vh;
  /* margin: 1%; */
}

.grid-six > div > h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 400;
}

.grid-six > div > input {
  height: 50px;
}

.text {
  margin-top: 5%;
  outline: none;
  border: none;
  border-bottom: 2px solid #282b33;
  width: 40%;
}

.number,
.date,
.massege {
  outline: none;
  border: none;
  border-bottom: 2px solid #282b33;
}

.number {
  width: 40%;
}

.date {
  width: 40%;
}

.massege {
  width: 83%;
}

.grid-six > div > button {
  padding: 1%;
  width: 75px;
  background-color: var(--white-color);
  color: #282b33;
  outline: none;
  border: 2px solid #282b33;
  transition: 0.3s;
  cursor: pointer;
}

.grid-six > div > button:hover {
  background-color: #282b33;
  color: var(--white-color);
}

.grid-six > div > img {
  height: 73vh;
  width: auto;
  margin-left: 4%;
}

@media screen and (max-width: 500px) {
  .section-one {
    width: 100%;
    height: 50vh;
    margin: 0%;
  }

  .section-one > div {
    height: 50%;
    width: 60%;
  }

  .section-one > div > p {
    font-size: 25px;
  }

  .grid {
    display: block;
    height: max-content;
    padding: 5% 20%;
  }

  .grid > div {
    margin: 10% 5%;
    height: 40vh;
    width: 50vw;
  }

  .section-three {
    width: 100%;
  }

  .grid-two {
    display: block;
    height: max-content;
  }

  .grid-two > div {
    width: 100%;
    margin: 3%;
  }

  .grid-two > div > img {
    margin: 5% 20%;
  }

  .grid-three {
    display: block;
  }

  .grid-three > div {
    height: fit-content;
  }

  .grid-three > div > img {
    height: 20%;
    width: 50%;
    margin-bottom: 5%;
  }

  .grid-three > div > div > p {
    width: 100%;
  }

  .strategies > button {
    width: 20%;
  }

  .building-company {
    height: fit-content;
  }

  .building-company > div {
    display: block;
    height: fit-content;
  }

  .first-grid > img {
    margin-left: 30%;
  }

  .first-grid > h3 {
    width: 400px;
    margin-top: 3%;
    margin-left: 2%;
  }

  .first-grid > p {
    width: 400px;
    margin-left: 2%;
  }

  .middle-grid {
    margin-top: 3%;
  }

  .middle-grid > img {
    height: 300px;
    width: 400px;
    margin-left: 10px;
  }

  .child {
    position: relative;
    width: 405px;
  }

  .child-two {
    margin-top: 5%;
  }

  .grid-four {
    display: block;
  }

  .grid-four > div > img {
    width: 100%;
    margin: 1%;
  }

  .grid-five {
    display: block;
  }

  .grid-five > div {
    width: 50%;
    padding-top: 2%;
    margin: 3%;
    margin-left: 25% !important;
  }

  .grid-six {
    display: block;
  }

  .grid-six > div > input {
    width: 45%;
  }

  .grid-six > div > button {
    width: 90px;
    height: 40px;
    margin-bottom: 5%;
  }

  .grid-six > div > img {
    width: 100%;
    margin-left: 1%;
  }
}
