*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.section-one{
    padding: 1%;
    background-color: #ff5722;
    border: none;
    color: white;
}

.main{
    font-size: 35px;
}

.head{
    border: none;
    margin-top: 6%;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;

}


.div-one>nav>ul{
    display: flex;
}

.div-one>nav>ul>li{
    margin-left: 20px;
    margin-top: 2%;
    margin-right: 2vh;
    /* font-weight: 700; */
    font-size: 20px;
    list-style: none;
    text-align: justify;
    cursor: pointer;
}

.div-one>nav>ul>li:hover{
    color: black;
}

.contact{
    margin-left: 7px;
    margin-right: 1vh;
    padding: 7px;
    font-weight: 300;
    font-size: 15px;
    list-style: none;
    text-align: center;
    color: white;
    background-color: #ff5722;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
}


.contact:hover{
    color: #ff5722;
    background-color: white;
}

ion-icon{
    font-size: 20px;
    margin-right: 3px;
}


.div-one{
    display: flex;
    justify-content: space-between;
}

.section-two{
    height: 85vh;
    width: 100%;
    display: grid;
    grid-template-columns: 52% 48%;
    /* background-image: url(truck.jpg); */
    background-image: url(https://rapidautoshipping.com/assets/images/bg-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.section-two div{
    margin-left: 10%;
    margin-top: 5%;
}



.section-two div .about{
    margin-top: 2%;
    font-size: 16px;
    padding: 5px;
    line-height: 33px;
}

.form{
    width: 75%;
    margin-right: 10%;
    margin-bottom: 20%;
}

form{
    margin-left: 25%;
    margin-top: 5%;
    /* width: fit-content; */
    padding: 4%;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

/* form>.quote{
    color: #ff5722;
    text-align: center;
    font-size: 16px;
} */

.quote{
    margin-bottom: 3%;
    color: #ff5722;
    text-align: center;
    font-size: 15px;
}

.call{
    margin-bottom: 3%;
    color: #ff5722;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.under-submit{
    color: gray;
    font-size: 13px;
    margin-left: 15px;
}

.text{
    color: black;
    font-size: 13px;
    width: 95%;
padding: 12px 10px;
border: .5px solid #d0d0d0;
border-radius: 5px;
margin: 4% 0;
outline: none;
}

.submit{
    background-color: #ff5722;
    color: white;
    height: 45px;
    width: 90%;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: 2px solid #ff5722;
    border: none;
    border-radius: 3px
}

.submit:hover{
    color: #ff5722;
    background-color: white;
}

.div-users{
    display: grid;
    grid-template-columns: 20% 80%;
}

form>p>span{
    color: gray;
}

.users{
    color: #ff5722;
    font-weight: bold;
}

.users-pic{
    height: 40px;
    width: 70px;
}

.section-three{
    height: 3%;
    width: 100%;
    background-color: #fff4f4;
}

.div-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 2% 10%;

}

.review{
    height: 60px;
}

.the-grid{
    height: fit-content;
    padding: 1% 20%;
    padding-right: 10%;
    /* margin-right: 10%; */
    text-align: center;
}

.section-review{
    padding: 5%;
}

.review-section{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: space-evenly;
}

.review-section>div{
    margin: 3%;
    outline: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 370px;
    height: 220px;
}

.review-section>div>h2>ion-icon{
    font-size: 10px;
}

.review-section>.one>h2>span{
    margin-left: 21%;
    color: #ff5722;
}

.review-section>.two>h2>span{
    margin-left: 15%;
    color: #ff5722;
}

.review-section>.three>h2>span{
    margin-left: 20%;
    color: #ff5722;
}

.review-section>div>p{
    text-align: left;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 4%;
    width: 92%;
}

.review-section>div>img{
    height: 30px;
}

.review-section>.one>img{
    margin-left: 62%;
    margin-top: 8%;
}

.review-section>.two>img{
    margin-left: 73%;
    margin-top: 4%;
}

.review-section>.three>img{
    margin-left: 70%;
    margin-top: 1%;
    height: 40px;
}

.review-section>div>h2{
    margin-top: 2%;
    margin-left: 4%;
    font-size: 20px;
    font-weight: 500;
}

.review-head{
    color: gray;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

.review-body{
    color: black;
    font-size: 15px;
}

.section-four{
    margin-top: 4%;
    text-align: center;
    padding: 2% 10% 10%;
    background-color: #fff4f4;
}


.section-four h2{
    color: black;
    margin-bottom: 5%;
    font-size: 35px;
}

.section-four h2 b{
    color: #ff5722;
    font-weight: 700;
}

.section-four .about-rapid{
    color: black;
    line-height: 30px;
    font-size: 20px;
}

.left{
    text-align: left;
}

.section-four b{
    color: #ff5722;
}

.section-four a{
    color: #ff5722;
    text-decoration: none;
}

.data{
    padding-top: 3%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.number{
    color: gray;
    font-weight: bold;
    font-size: 30px;
}

.data-text{
    color: gray;
    font-size: 20px;
}

.flex-ex{
    display: grid;
    height:400px;width:100%;align-items:center; justify-content: space-between;background-color:black;
}

.flex-ex>h1{
    color:red;
}

.section-five{
    margin-top: 4%;
    text-align: center;
    padding: 2% 10% 10%;
}

.section-five h2{
    color: black;
    margin-bottom: 5%;
    font-size: 35px;
}

.section-five h2 b{
    color: #ff5722;
    font-weight: 700;
}

.section-five p{
    color: black;
    line-height: 30px;
    font-size: 17px;
}

.review-img{
    display: flex;
}

.img{
    margin-left: 3%;
    margin-top: 10%;
    /* height: 1%; */
    outline: 1px solid #d0d0d0;
    border-radius: 5px;

}

.bbb{
    height: 170px;
    padding: 3% 5%;
}

.google{
    padding: 3% 5%;
}

.tp{
    height: 170px;
    padding: 3% 5%;
}

.img:hover{
    border: 1px solid rgba(255, 0, 0, 0.438);
}

.section-six{
    background-color: #ff5722;
    margin-top: 1%;
    text-align: center;
    color: white;
}

.section-six>div{
    padding: 4% 10%;
}

.section-six>div>h2{
    font-weight: 700;
    font-size: 36px;
}

.section-six>div>button{
    background-color: white;
    color: #ff5722;
    border: 1px solid #ff5722;
    margin-top: 2%;
    margin-bottom: 5px;
    padding: 12px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.section-six>div>button:hover{
    background-color: #ff5722;
    color: white;
    border: 2px solid white;
}

.first-step{
    display: grid;
    grid-template-columns: 40% 60%;

}

.section-seven{
    padding: 5% 10%;
    background-color: #fff4f4;
}

.section-seven>h2{
    text-align: center;
    margin-bottom: 4%;
    font-size: 35px;
}

.section-seven>h2>span{
    color: #ff5722;
}

.section-seven>.steps>.first-step>p{
    margin-left: 20%;
}

.section-seven>.steps>.first-step>p>span{
    color: #ff5722;
    font-size: 28px;
    font-weight: 700;
}

.second-step{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    height: 500px;
}

.second-step>.step-two>span{
    color: #ff5722;
    font-size: 28px;
    font-weight: 700;
}

.step-two{
    color: black;
    margin-right: 20%;
}

.second-step>img{
    margin-right: 20%;
    width: 95%;
    height: 400px;
}

.third-step{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 500px;
}

.third-step>img{
    width: 95%;
}

.step-three>span{
    color: #ff5722;
    font-size: 28px;
    font-weight: 700;
}

.step-three{
    margin-left: 20%;
}

.section-eight{
    background-image: url(https://rapidautoshipping.com/assets/images/car-key-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.key-holding{
    display: grid;
    /* padding: 10% 5%; */
    margin-left: 5%;
    margin-bottom: 3%;
}

.key-holding>h2{
    margin-top: 2%;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;
}

.key-holding>p{
    margin-top: 2%;
    margin-bottom: 2%;
}

.key-holding>button{
    width: 20%;
    margin-bottom: 2%;
    font-size: 22px;
    text-align: center;
    border-radius: 40px;
    padding: 6px 15px;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}

.map>iframe{
    width: 100%;
    height: 300px;
}

.under-map{
    padding: 0% 5% 0% 5%;
}

.address{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 1%;
}

.address>img{
    width: 100%;
}

.add{
    margin-top: 8%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.add>ion-icon{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #ff5722;
}

.reach-us{
    padding: 30px;
    line-height: 10px;
}

.outline{
    height: 1px;
    width: 87vw;
    border: 1px solid rgba(128, 128, 128, 0.473);
    /* margin-left: 100%; */
}

.social{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 52px;
    width: 100%;
}

.social>img{
    height: 30px;
    cursor: pointer;
}


.section-ten{
    background-color: black;
    color: gray;
    padding: 6%;
}

.links{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.quick-links{
    padding: 10px;
}


.links>div>h2{
    color: #ff5722;
    display: flex;
}

.quick-links>li{
    padding: 5px;
    font-size: 15px;
}

.hover>li{
    cursor: pointer;
}

.hover>li:hover{
    color: #ff5722;
}


.links>div>h2{
    color: #ff5722;
    display: flex;
}

.services{
    margin-left: 20px;
}

.cards>h2, p{
    text-align: center;
}

.cards>h2{
    color: #ff5722;
    font-size: 40px;
    padding-top: 5%;
}

.cards>p{
    font-size: 18px;
}

.p-cards{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 4% 10% 10% 10%;
}

.div-cards{
    margin: 10%;
    height: 66%;
    width: 85%;
    outline: 1px solid #ff5722;
    padding: 11% 5%;
    border-radius: 5px;
    text-align: center;
}

.cards>div>div>h3, p{
    text-align: center;
}

.cards>div>div>p{
    margin-bottom: 14%;
}

.card{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0% 10% 4% 10%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.nav>div{
    padding: 8px 25px;
    border-right: 1px solid gray;
    text-align: center;
    color: #ff5722;
    cursor: pointer;
}

.section-nine{
    margin-bottom: 5%;
}

.nav>div:hover{
    color: black;
}

.key-holding>p{
    text-align: left;
}

.imgs{
    background-color: #ff5722;
    border-radius: 80px;
    height: fit-content;
    width: fit-content;
    margin-bottom: 5%;
    margin-left: 37%;
    margin-top: -28%;
}

.imgs>img{
    height: 60px;
    width: 65px;
    padding: 10%;
}
