*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
}

header>nav>ion-icon{
    font-size: 24px;
}

.section-one{
    margin: 1%;
    background-image: url(/rapid2/assets/images/house-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.section-one>div>p{
    font-size: 30px;
    margin: 10%;
}

.section-one>div{
    border: 1px solid;
    height: 180px;
    width: 280px;
    position: absolute;
    left: 2%;
    top: 60%;
    color: white;
    background-color: #282b33;
}

.section-two{
    margin-top: 10%;
    margin: 1%;
}

.section-two>div>h2{
    text-align: center;
    font-size: 35px;
    color: #d16833;
}

.section-two>div>p{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0% 18%;
    margin-top: 4%;
    background-color: #e4e4e4;
}

.grid>div{
    border: 1px solid #d0d0d0;
    background-color: white;
    padding: 5%;
    width: 200px;
    height: 120px;
    margin-left: 10%;
    font-size: 12px;
}

.grid>div>h3{
    margin-top: 10%;
}

.section-three{
    background-color: #f1f1f1;
    padding-bottom: 8%;
}
.grid-two{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10%;
}

.grid-two>div{
    border: 1px solid #d0d0d0;
    height: 100vh;
    width: 100%;
}

.grid-two>div>img{
    margin-top: 10%;
    margin-bottom: 15%;
    width: 50%;
    border-radius: 5px;
}

.mission{
    background-color: #fc5f17;
    color: white;
    padding-left: 20%;
}

.mission>p{
    margin-top: 5%;
    width: 80%;
}

.goals{
    width: 80%;
    padding-right: 25%;
    padding-top: 5%;
    padding-left: 8%;
}

.goals>p{
    margin-top: 5%;
}

.values{
    background-color: #282b33;
    color: white;
    padding-left: 20%;
}

.values>p{
    margin-top: 5%;
    width: 80%;
}

.section-three>h2{
    text-align: center;
    font-size: 30px;
}

.section-four{
    background-color: #282b33;
    padding-bottom: 5%;
}

.grid-three{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0% 15%;
}
.grid-three>div{
    background-color: white;
    height: 40vh;
    text-align: center;
    margin-top: -30%;
}

.grid-three>div>h3{
    margin-top: 22%;
    font-size: 25px;
}

.grid-three>div>p{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.grid-three>div>img{
    width: 100%;
    height: 100%;
}

.grid-three>div>button{
    margin-top: 5%;
    height: 13%;
    width: 33%;
    border: 2px solid rgb(211, 161, 69);
    border-radius: 5px;
    background-color: white;
    transition: 0.3s;
}

.grid-three>div>button:hover{
    background-color: rgb(211, 161, 69);
    color: white;
}

.strategies{
    color: white;
    margin-top: 10%;
}

.strategies>h2{
    font-size: 40px;
    text-align: center;
}

.strategies>p{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    line-height: 30px;
}

.strategies>button{
    margin-left: 45%;
    width: 11%;
    height: 40px;
    border: 2px solid rgb(211, 161, 69);
    border-radius: 5px;
    background-color: white;
    transition: 0.3s;
}

.strategies>button:hover{
    background-color: rgb(211, 161, 69);
    color: white;
}

.grid-four{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 15%;
    padding-bottom: 0% !important;
}

.invest>h4{
    font-size: 20px;
}

.invest>p{
    margin-top: 3%;
}

.invest{
    padding: 5%;
}

.grid-four>div>img{
    width: 90%;
    height: 90%;
    margin-top: 3%;
}

.grid-five{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0% 10%;
}

.grid-five>div{
    background-color: #fc5f17;
    color: white;
    margin: 40%;
    padding: 8% 31% 7% 13%;
    text-align: center;
}

.grid-five>div>h2{
    font-size: 30px;
    text-align: center;
}

.grid-six{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 75vh;
    border: 2px solid;
}

.grid-six>div>h2{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 2% !important;
}

.grid-six>div>p{
    margin-left: 2%;
}

.grid-six>div>input{
    height: 50px;
}

.text{
    margin-top: 5%;
    margin-left: 2%;
    outline: none;
    border: none;
    border-bottom: 2px solid #282b33;
}

.number, .date, .massege{
    margin-left: 2%;
    outline: none;
    border: none;
    border-bottom: 2px solid #282b33;
}

.grid-six>div>button{
    margin-left: 2%;
    padding: 1%;
    width: 75px;
    background-color: white;
    color: #282b33;
    outline: none;
    border: 2px solid #282b33;
    transition: 0.3s;
}

.grid-six>div>button:hover{
    background-color: #282b33;
    color: white;
}

.grid-six>div>img{
    height: 73vh;
    width: 100%;
}